* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: auto;
    background-color: #D4D4D4;
}

.title {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 500;
    margin-left: 5px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    background-color: #ffffff;
}

.search-button {
    border: none;
    padding: 0 5px;
    background-color: #ffffff;
}

.search-bar {
    width: 0;
    font-size: 15px;
    border: none;
    transition: width 0.4s ease-in-out;
}

.search-bar::-webkit-search-cancel-button {
    position: relative;
    right: 20px;
}

.search-bar:focus {
    width: 100%;
    width: 450px;
    border: none;
    outline: 0;
    padding: 7px 5px;
    border: none;
}

.container {
    overflow-y: scroll;
    height: 100%;
}

.container,
.buttons {
    width: 100%;
    max-width: 600px;
    background-color: #D4D4D4;
    margin: auto;
}

.app {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 25px;
}

.container::-webkit-scrollbar {
    width: 0;
}

li {
    list-style: none;
    height: 120px;
    width: 100%;
    background-color: #BBBBBB;
}

.country {
    height: 120px;
    width: 100%;
    background-color: #BBBBBB;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.buttons {
    height: 60px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
}

.new-button,
.delete-button {
    width: 50%;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.new-button {
    background-color: #4fcd4f;
}

.delete-button {
    background-color: #de1e1e;
}

.active {
    border: 2px solid #0000ff;
}

.countryName {
    width: 120px;
    background: transparent;
    border: none;
}

@media only screen and (max-width:600px) {
    .app {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(16, 1fr);
    }

    .search-bar:focus {
        max-width: 400px;
    }
}

@media only screen and (max-width:450px) {
    .app {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(24, 1fr);
    }

    .search-bar:focus {
        max-width: 190px;
    }
}